fastapi
uvicorn
python-multipart
openai-whisper
pydantic<3
ffmpeg-python
gspread
oauth2client
openpyxl
deep-translator
reportlab
openai
google-generativeai
mistralai
imageio-ffmpeg
PyPDF2
pdf2docx
python-docx
pandas
xlsxwriter
python-dotenv